

PRISMA_DATABASE_URL=


NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_APP_URL=http://localhost:3000
TOKEN_EXPIRY_DAYS=30

RESEND_API_KEY=
RESEND_FROM_EMAIL=

QSTASH_TOKEN=
WORKER_SHARED_SECRET=
